<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary"><i class="bi bi-journal-text"></i> Articles</h1>
    <% if policy(Article.new).create? %>
      <%= link_to 'New Article', new_article_path, class: "btn btn-success px-4" %>
    <% end %>
  </div>

  <% if @articles.any? %>
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-4 mb-4">
          <div class="card shadow-lg border-0 hover-effect h-100">
            <div class="card-body">
              <h4 class="card-title">
                <i class="bi bi-file-earmark-text"></i>
                <%= link_to article.title, article, class: "text-dark text-decoration-none fw-bold" %>
              </h4>
              <p class="text-muted">Created at: <%= article.created_at.strftime("%d %b %Y") %></p>
              
              <div class="text-end">
                <%= link_to "Read More", article_path(article), class: "btn btn-primary btn-sm" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info text-center">
      <i class="bi bi-info-circle"></i> No articles found.
    </div>
  <% end %>
</div>
