<%= turbo_frame_tag "new_article" do %>
    <h2>Add New Article</h2>
    <%= render "form", article: @article %>
  <% end %>
  
  <%= link_to 'Back', articles_path(@article), class: "btn btn-secondary" %>
  